# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/

# --- Environment Variables (CRITICAL) ---
.env
.env.local

# --- IDE Settings ---
.vscode/
.idea/

# --- Mac OS related ---
.DS_Store

# --- Docker ---
mongo_data/